/**
 * @project        Karma Kit
 * @author         Karma Team
 * @website        https://karamtechhub.com
 * @version       1.0.0
 *
 */

.karmakit-countdown {
    display: flex;
    justify-content: center;
}

.karmakit-countdown>div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.karmakit-countdown .countdown-ended {
    display: none;
}

.karmakit-countdown-preview {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
